.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 75%;
    font-size: 13px;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    font-weight: bold;
}

.confirm-table__row:last-child{
    align-items: flex-start;;
}

.confirm-table__row{
    text-align: left;
    margin-left: 60px;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.confirm-table__text {
    padding: 20px;
    overflow-y: auto;
    width: 70%;
}

.confirm-table__text input{
    width: 80%;
    white-space: nowrap;
    outline: none;
    border: none;
    font-size: 13px;

}
.confirm-table__text textarea {
    width: 70%;
    outline: none;
    border: none;
    font-size: 13px;
}

textarea {
    resize: none;
    min-height: 100px;
    width: 100%;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form__button-rtn{
margin: 10px auto;
text-align: center;
color: #000;
}

.form__button-rtn-inner{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #000000;
}

.form__button-rtn-inner:hover{
    color: gray;
    text-decoration-color: gray;
}

@media screen and (max-width: 768px) { /* 例: 768px以下の画面幅の場合のスタイル */
    .confirm-table__row {
        flex-direction: column; /* 列方向に配置 */
        align-items: flex-start; /* 左寄せ */
        margin-left: 0; /* 左の余白を無効化 */
    }

    .confirm-table__text {
        width: 100%; /* 幅を100%に設定 */
        padding-top: 10px; /* 上部の余白を追加（任意の値） */
    }
    .confirm-table__header {
        padding: 15px;
        width: 50%;
        font-weight: bold;
    }
    .confirm-table__text textarea {
        width: 100%;
        outline: none;
        border: none;
        font-size: 13px;
    }
}
